*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP Mori;   
}
html,body{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

header {
    display: flex;
    height: 12vh;
    padding: 20px;
    background-color: #00000080;
    backdrop-filter: blur(5px);
    /* border-bottom: 1px solid #434753; */
    /* position: fixed; */
    width: 100%;
    top: 0;
    position: relative;
    z-index: 9999;
    /* mix-blend-mode: difference; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.8s all;
}

nav {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 40px;
    height: 40px;
}

.menu-btn {
    cursor: pointer;
    /* mix-blend-mode: difference; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
}

.menu-btn span {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 0.3vw;
    background: #dadada;
    transition: all ease 0.35s;
}

.nav-menu {
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    /* height: fit-content; */
    padding: 2% 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    transform: translateY(-100%);
    opacity: 0;
    z-index: 1000;
    transition: transform 0.4s ease, opacity 0.4s ease;
    pointer-events: none; /* Prevent clicks when hidden */
}

.nav-menu.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto; /* Enable clicks when visible */
}




.menu-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.active span:nth-child(2) {
    opacity: 0;
}

.menu-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}
/* 
.nav-menu.active {
    display: flex;
    flex-direction: column;
} */



.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: left;
}
.elem h1{
    font-size: 3vw;
    font-weight: 100;
    color: #ffffff;
    transition: all ease-out 0.5s;
}
/* .elem:first-child{
    text-decoration: 1px underline #edbfff;
} */

a {
    text-decoration: none;
}

.elem:hover h1{
    transform: translateY(-100%);
    color: #edbfff;
    text-decoration: 1px underline #edbfff;
}

.text-div{
    /* background-color: burlywood; */
    height: 3vw;
    overflow: hidden;
    z-index: 10;
    margin-bottom: 2%;
    /* text-align: center; */
}
.elem-wrapper{
    margin-right: 25%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}  

/* form start */
.form-container {
    /* margin-top: 10vh; */
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-image: url(WhatsApp\ Image\ 2024-10-11\ at\ 05.27.06_10ae2216.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #5a5a5a;
  }
  
  .form {
    width: 100%;
    max-width: 820px;
    background-color: #4e4e4e;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contact-form {
    background-color: #232323;
    position: relative;
  }
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #232323;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 200;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 10;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 10;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #232323;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }
  
  .contact-info .title {
    color: #ffffff;
  }
  
  .text {
    color: #ffffff;
    margin: 3.5rem 0 2rem 0;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
  }
  
  .social-media p {
    color: #ffffff;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #3d3d3d, #3d3d3d);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
  
  .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #232323;
    border-radius: 20px;
    rotate: 120deg;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
  }
  .form-btn {
    width: 10vw;
    height: 8vh;
    background-color: #ddd;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 1.2vw;
    cursor: pointer;
    font-weight: 550;
  }
  
  .form-btn:active {
    border: 1px solid #4e4e4e;
  }
  .formhash {
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 1;
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
  }
  .formhash2{
    position: absolute;
    height: 15vh;
    width: 17%;
    bottom: 50%;
    right: 74%;
    transform: translate(-40%, 38%);
  }
  
  .outer-model {
    position: absolute;
    height: 60vh;
    top: 50%;
    left: 75%;
    z-index: 1;
  }