*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
}

html,body{
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* background-color: #00000027;
    backdrop-filter: blur(5px); */
    /* border-bottom: 1px solid #434753; */
    /* position: fixed; */
    width: 100%;
    top: 0;
    z-index: 10;
    /* mix-blend-mode: difference; */
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    /* background: #dadada; */
    /* mix-blend-mode: difference; */
}

.menu-btn {
    cursor: pointers;
    /* mix-blend-mode: difference; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
}

.menu-btn span {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 0.1vw;
    background: #000000;
    transition: all ease 0.35s;
}

.nav-menu {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    width: 100%;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: flex-end;
}



.menu-btn.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.active span:nth-child(2) {
    opacity: 0;
}

.menu-btn.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.nav-menu.active {
    display: flex;
    flex-direction: column;
}



.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: left;
}
.elem h1{
    font-size: 3vw;
    font-weight: 100;
    color: #ffffff;
    transition: all ease-out 0.5s;
}
/* .elem:first-child{
    text-decoration: 1px underline #edbfff;
} */

.elem:hover h1{
    transform: translateY(-100%);
    color: #edbfff;
    text-decoration: 1px underline #edbfff;
}

.text-div{
    /* background-color: burlywood; */
    height: 3vw;
    overflow: hidden;
    z-index: 11;
    margin-bottom: 10px;
    /* text-align: center; */
}
.elem-wrapper{
    margin-right: 25%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}    

/* page1 start  */
.page1{
    height: 90vh;
    width: 100%;
    /* background-color: rgb(240, 233, 223); */
    padding: 0 3vw;
    position: relative;
}
.page1-con-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: fit-content; */
    width: 100%;
    /* background-color: #edbfff; */
}
.page-p1{
    /* height: 100%; */
    width: 50%;
    padding: 0 3vw;
    /* background-color: crimson; */
}
.page-p1 h1{
    font-size: 3vw;
    line-height: 3.5vw;
}

.page-p1 p{
    font-size: 1.4vw;
    width: 90%;
    margin-top: 1.6vw;
    /* line-height: 1.5vw; */
}
.s-btn{
    margin-top: 5vh;
    width: 45%;
    height: 8vh;
    background-color: #333333;
    color: aliceblue;
    font-size: 1.3vw;
    border: none;
    border-radius: 50px;
    /* padding: 1vw 1vw; */
}

.page-p2{
    /* height: 100%; */
    width: 50%;
    /* background-color: aqua; */
}
.page-p2 img{
    width: 100%;
    /* height: 100%; */
    /* background-color: blueviolet; */
}

.page2 {
    min-height: 150vh;
    width: 100%;
    position: relative;
    /* background-color: darkkhaki; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10vh 0;
    background-color: rgb(255, 249, 249);
}
.page2>h1{
    font-size: 2.5vw;
    border-bottom: 2px solid #333333;
}
.page2>p{
    font-size: 1.2vw;
    color: #3e3e3e;
    margin-top: 2vw;
    margin-bottom: 3vw;
}

.page2-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* This sets 3 equal columns */
    grid-template-rows: repeat(3,1fr);
    gap: 1.5vw;
    width: 90%;
    padding: 20px;
    background-color: rgb(255, 249, 249);
}

.card {
    background-color: white;
    padding: 20px;
    height: 55vh;
    border-radius: 1vw;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Optional: Center content inside card */
}

.card h2 {
    font-size: 1.5vw;
    margin-bottom: 1.5vw;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    color: #333333;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    display: flex;
    align-items: center;
    margin-bottom: 2vw;
    font-size: 1.4vw;
}

.card ul li img {
    width: 2.5vw;
    height: 2.5vw;
    margin-right: 10px;
}


.container {
    max-width: 95%;
    min-height: 50vh;
    margin: 80px auto;
    text-align: center;
    padding: 0 20px;
    border-radius: 1vw;
    background-color: #bbbbbb;
}

.container>h1 {
    font-size: 2.5em;
    color: #111;
    padding: 4vh 0;
}

.benefits {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 2vh 0;
}

.benefit-item {
    padding: 4vh 2vw;
    /* flex: 1; */
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    text-align:center;
    position: relative;
}

.icon i {
    margin-bottom: 20px;
    font-size: 3vw;
    transition: all ease 0.3s;
}
.benefit-item:hover .icon i {
    scale: 1.3;
}
.benefit-item h3 {
    font-size: 1.5em;
    color: #111;
    margin-bottom: 15px;
}

.benefit-item p {
    font-size: 1em;
    color: #555;
    /* line-height: 1.6em; */
}

@media (max-width: 768px) {
    .benefits {
        flex-direction: column;
        gap: 20px;
    }
}

/* form start */
.form-container {
    margin-top: 10vh;
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    /* background-color: #171717; */
    background-image: url(WhatsApp\ Image\ 2024-10-11\ at\ 05.27.06_10ae2216.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #5a5a5a;
  }
  
  .form {
    width: 100%;
    max-width: 820px;
    background-color: #4e4e4e;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .contact-form {
    background-color: #232323;
    position: relative;
  }
  
  .contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #232323;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
  }
  
  form {
    padding: 2.3rem 2.2rem;
    z-index: 10;
    overflow: hidden;
    position: relative;
  }
  
  .title {
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
  }
  
  .input-container {
    position: relative;
    margin: 1rem 0;
  }
  
  .input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 200;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 10px;
    transition: 0.3s;
  }
  
  textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 10px;
    resize: none;
    overflow-y: auto;
  }
  
  .input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.9rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
  }
  
  .input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
  }
  
  .input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
  }
  
  .input-container span:before,
  .input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #232323;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-container span:before {
    left: 50%;
  }
  
  .input-container span:after {
    right: 50%;
  }
  
  .input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
  }
  
  .input-container.focus span:before,
  .input-container.focus span:after {
    width: 50%;
    opacity: 1;
  }
  
  .contact-info {
    padding: 2.3rem 2.2rem;
    position: relative;
  }
  
  .contact-info .title {
    color: #ffffff;
  }
  
  .text {
    color: #ffffff;
    margin: 3.5rem 0 2rem 0;
  }
  
  .social-media {
    padding: 2rem 0 0 0;
  }
  
  .social-media p {
    color: #ffffff;
  }
  
  .social-icons {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #3d3d3d, #3d3d3d);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
  }
  
  .social-icons a:hover {
    transform: scale(1.05);
  }
  
  .contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #232323;
    border-radius: 20px;
    rotate: 120deg;
    bottom: -77px;
    right: 50px;
    opacity: 0.3;
  }
  .form-btn {
    width: 10vw;
    height: 8vh;
    background-color: #ddd;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 1.2vw;
    cursor: pointer;
    font-weight: 550;
  }
  
  .form-btn:active {
    /* background-color: #333; */
    border: 1px solid #4e4e4e;
  }

  .formhash {
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 1;
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 38%);
  }
  .formhash2{
    position: absolute;
    height: 15vh;
    width: 17%;
    bottom: 50%;
    right: 74%;
    transform: translate(-40%, 38%);
  }
  
  .outer-model {
    position: absolute;
    height: 60vh;
    top: 50%;
    left: 75%;
    z-index: 1;
  }

/* footer start  */
.footer {
    background-color: #171717;
    color: #fff;
    padding: 40px 0;
    position: relative;
    min-height: 100vh;
    /* margin-top: 20vh; */
}

.footer-container {
    width: 85%;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.logo h2 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 15px;
}

.download-btn {
    display: inline-block;
    /* background-color: #00a1ff; */
    border: 1px solid #5a5a5a;
    color: #fff;
    font-weight: 50;
    padding: 10px 20px;
    text-decoration: none;
    margin-bottom: 15px;
    font-weight: bold;
}

.address {
    font-weight: 100;
    font-style: normal;
    font-size: 1.1vw;
    line-height: 1.2;
    margin-bottom: 1vw;
    color: #ffffff;
}

.footer-links {
    display: flex;
}

.footer-links > div {
    margin-right: 50px;
}

.footer-links h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.socials h3 {
    font-size: 16px;
    margin-bottom: 15px;
}

.socials ul {
    list-style: none;
}

.socials ul li {
    margin-bottom: 10px;
}
.socials ul li i{
    margin-right: 0.2vw;
}
.socials ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

#hashtag1{
    position: absolute;
    bottom: 1%;
    left: 5%;
    z-index: 2;
    height: 37vh;
    width: 21vw;
}

#hashtag2{

    height: 55%;
    z-index: 1;
    position: absolute;
    left: 3%;
    bottom: 0;
}
#model{
    position: absolute;
    right: 0;
    bottom: 0%;
    object-fit: cover;
    width: 25%;
    height: 45vh;
}
/* footer end  */